{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    // To avoid renaming of exposed interfaces.
    "@typescript-eslint/interface-name-prefix": "off"
  }
}
