{
  "extends": "standard-with-typescript",
  "parserOptions": {
    "project": [
      "./tsconfig.json",
      "./demo/tsconfig.json",
      "./cypress/tsconfig.json"
    ]
  },
  "rules": {
    "@typescript-eslint/strict-boolean-expressions": "off"
  }
}
