name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    name: Release
    uses: abinnovision/workflows/.github/workflows/release-please.yaml@master
    secrets: inherit

  build:
    name: Build & Publish
    runs-on: ubuntu-latest
    needs:
      - release
    if: needs.release.outputs.releases_created
    permissions:
      contents: "write"
      id-token: "write"
      packages: "write"
    env:
      # Avoid installing Cypress binary in this job, because it's not being used.
      CYPRESS_INSTALL_BINARY: "0"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: abinnovision/actions/actions/setup-node@master

      - name: Install
        run: yarn install --immutable
      - name: Build
        run: yarn build

      - name: Publish
        run: |
          # Publish to NPM
          yarn config set -H --json npmScopes '{"abinnovision": {"npmPublishRegistry": "https://registry.npmjs.org", "npmRegistryServer": "https://registry.npmjs.org", "npmAuthToken": "${{ secrets.NPM_AUTH_TOKEN }}"}}'
          yarn --cwd "$path" npm publish --access public
